node_modules/

*.db
*.db-shm
*.db-wal

.env

dist/
dist-ssr/
gen/
_out/

*.local

coverage/
.nyc_output/

client/cypress/screenshots/
client/cypress/videos/
client/cypress/downloads/

.DS_Store
Thumbs.db

.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
